body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  .game-container {
    margin: 50px auto;
    max-width: 400px;
  }
  
  .word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .letter {
    display: inline-block;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .guess-container {
    margin-bottom: 20px;
  }
  
  #guess-input {
    padding: 5px;
    width: 200px;
  }
  
  #guess-button {
    padding: 5px 10px;
  }
  
  .attempts-container {
    color: #777;
  }
  
  #message-container {
    margin-top: 20px;
  }
  
  #play-again-button {
    padding: 5px 10px;
  }